<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Lista de Pedidos</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h2>Pedidos</h2>

<a th:href="@{/pedidos/novo}"><button>Novo Pedido</button></a>

<table border="1">
  <thead>
  <tr>
    <th>Cliente</th>
    <th>Data</th>
    <th>Total</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="pedido : ${pedidos}">
    <td th:text="${pedido.cliente.nomeCompleto}">Nome Cliente</td>
    <td th:text="${#temporals.format(pedido.dataHora, 'dd/MM/yyyy HH:mm')}">Data</td>
    <td th:text="${#numbers.formatDecimal(pedido.total, 1, 'POINT', 2, 'COMMA')}">0,00</td>
    <td class="table-actions">
      <a th:href="@{'/pedidos/detalhes/' + ${pedido.id}}" class="editar">Detalhes</a>
      <a th:href="@{'/pedidos/excluir/' + ${pedido.id}}" class="excluir" onclick="return confirm('Confirma exclusão?')">Excluir</a>
    </td>
  </tr>
  </tbody>
</table>

<a th:href="@{/dashboard}"><button>Voltar</button></a>
</body>
</html>
